<section style="position: relative;">
    <app-logged-header></app-logged-header>
    <app-slider-comp></app-slider-comp>
    <!-- <div *ngIf="this.globals.isProfileOpen()" class="profile-overlay">
        <div class="overlay-container">
            <app-profile></app-profile>
        </div>
    </div> -->
    <div *ngIf="this.globals.isVidOpen()" class="video-overlay">
        <div class="v-overlay-container">
            <app-videoplayer [isInMyVideos]="false"></app-videoplayer>
        </div>
    </div>
</section>
