<section style="position: relative;">
    <app-logged-header></app-logged-header>
    <app-slider-comp></app-slider-comp>
    <div *ngIf="this.globals.isVidOpen()" class="video-overlay">
        <div class="v-overlay-container">
            <app-videoplayer [isInMyVideos]="false"></app-videoplayer>
        </div>
    </div>
    <div *ngIf="this.globals.isUploadOpen()" class="video-overlay">
        <div class="v-overlay-container">
            <app-file-upload></app-file-upload>
        </div>
    </div>
</section>
