@import "../../../styles.scss";

section {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    @include dFlex(column, flex-start, center);
    margin: 0px 124px;
    > app-logged-header {
        width: 100%;
        margin-bottom: 64px;
    }
    > app-slider-comp {
        width: 100%;
        height: 300px;
    }
}