<section class="register-cont">
  <div class="header-cont">
    <div class="logo">
      <!-- <span>CHILL</span>
      <span class="n-letter">'N'</span>
      <span>FLIX</span> -->
      <img src="./../../../assets/logos/Logo.png" alt="videoflix-logo">
    </div>
    <div class="right-cont">
      <a [routerLink]="['/login']" class="login-btn">
       Einloggen
      </a>
    </div>
  </div>

  <div class="steps"> 
    <app-step-0 *ngIf="!isStep1 && !isStep2" (stepChange)="changeStep($event)"></app-step-0>
    <app-step-1 *ngIf="isStep1" (stepChange)="changeStep($event)"></app-step-1>
    <app-step-2 *ngIf="isStep2"></app-step-2>
  </div>
  
  <div class="spinner" *ngIf="this.globals.isProgressingData()">
    <div class="spinner-cont">
      <mat-spinner></mat-spinner>
    </div>  
  </div>
  
  <app-footer></app-footer>

</section>
