<section class="slider-cont">
  <div *ngFor="let category of categories; let i = index" class="category-container"
       [ngClass]="{ 'hidden': category.numberOfPacks.length === 0 && category.name !== 'Watched' || 
                    category.name === 'Watched' && !globals.currentLoggedUser()?.video_timestamps }">
    <h2>{{ category.name }}</h2>
    <div class="scroll-container">
      <div class="scroll-button left" [ngClass]="category.numberOfPacks.length > 1 ? 'slider-btn-opacity' : 'invis'">
        <button (click)="nextVideos('+', i)">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <div class="content-container" #categoryRef>
        <div class="video-container" *ngFor="let groupKey of category.numberOfPacks; let groupIndex = index"
             [ngClass]="category.groupedVideos[groupKey].length === videoItemCardsAmount ? 'evenly-spacing' : 'start-spacing'">
          <div class="item" *ngFor="let item of category.groupedVideos[groupKey]; let j = index">
            <app-video-item
              (mouseover)="category.hoveredIndex = j"
              (mouseleave)="category.hoveredIndex = -1"
              [ngClass]="category.groupedVideos[groupKey].length === 1 ? 'grow-shadow-single' : 'grow-shadow'"
              [videoItem]="item"
              [isVideosWatched]="category.name === 'Watched'"
              [isHovered]="category.hoveredIndex === j"
            ></app-video-item>
          </div>
        </div>
      </div>
      <div class="scroll-button right" [ngClass]="category.numberOfPacks.length > 1 ? 'slider-btn-opacity' : 'invis'">
        <button (click)="nextVideos('-', i)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="true"
  >
    <p style="color: white">Bitte einen Moment Geduld...</p>
  </ngx-spinner>
</section>