@import "../../../styles.scss";
section {
  @media (max-width: 1920px) {
    margin: 0px 32px;
  }
  .category-container {
    margin-bottom: 20px;
    > h2 {
      font-size: 32px;
      color: #ffffff;
    }
    > .scroll-container {
      position: relative;
      @include dFlex(row, flex-start, center);
      > .content-container {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none; /* Firefox */
        ::-webkit-scrollbar {
          display: none;
        }
        > .item {
          width: 450px;
          height: 450px;
          margin: 10px;
          @include dFlex(row, center, center);
          > .grow-shadow {
            display: flex;
            position: relative;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: box-shadow, transform;
            transition-property: box-shadow, transform;
            border-radius: 4px;
            &:hover {
              box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
              -webkit-transform: scale(1.5);
              transform: scale(1.5);
              z-index: 10;
            }
          }
          &:first-child {
            .grow-shadow {
              &:hover {
                box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
                -webkit-transform: scale(1.5) translateX(60px);
                transform: scale(1.5) translateX(60px);
                z-index: 10;
              }
            }
          }
          &:last-child {
            .grow-shadow {
              &:hover {
                box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
                -webkit-transform: scale(1.5) translateX(-60px);
                transform: scale(1.5) translateX(-60px);
                z-index: 10;
              }
            }
          }
        }
      }
      > .scroll-button {
        transition: all 150ms ease-in-out;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.8);
        }

        z-index: 1;
        padding: 6px;
        @include dFlex(row, center, center);
        > mat-icon {
          font-size: 32px;
          height: auto;
          width: auto;
        }
      }
    }
    .scroll-button.left {
      left: 8px;
    }

    .scroll-button.right {
      right: 8px;
    }
  }
}

app-video-item {
  cursor: pointer;
}
