@import "../../../styles.scss";

.header-cont {
  width: 100%;
  height: 100px;
  @include dFlex(row, space-between, center);
  > .left-cont {
    @include dFlex(row, flex-start, center);
    gap: 24px;
    > .logo {
      &:hover {
        cursor: pointer;
      }
      @include dFlex(row, flex-start, center);
      > span {
        color: #e50815;
        font-size: 32px;
        font-weight: 700;
      }
      > .n-letter {
        color: #ffffff;
        padding: 0px 4px;
      }
    }
    > .menu {
      @include dFlex(row, flex-start, center);
      gap: 24px;
      > span {
        transition: all 0.15s ease-in-out;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  > .right-cont {
    @include dFlex(row, flex-end, center);
    > .drop-down-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      &:hover {
        cursor: pointer;
      }
      > img {
        height: 38px;
        width: 38px;
        margin-right: 8px;
      }
      .arrow-drop-up {
        color: #ffffffff;
        rotate: -90deg;
      }
      .arrow-drop-down {
        color: #ffffff;
      }
    }

  }
}

.menu-pnts {
  font-family: 'Raleway';
  color: #ffffff;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

::ng-deep .mat-mdc-menu-item {
  transition: all 150ms ease-in-out !important;
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.05) !important;
  }
}

::ng-deep .cdk-overlay-pane {
  padding-top: 8px;
}
::ng-deep .mat-mdc-menu-panel {
  background-color: rgba($color: #000000, $alpha: 0.0001) !important;
}

mat-icon {
  color: #ffffff !important;
}