<div class="header-cont">
  <div class="left-cont">
    <div [routerLink]="['/']" class="logo">
      <span>CHILL</span>
      <span class="n-letter">'N'</span>
      <span>FLIX</span>
    </div>
    <div class="menu">
      <span>Startseite</span>
      <span>Filme</span>
      <span>Serien</span>
      <span>Platzhalter</span>
    </div>
  </div>


  <div class="right-cont">
    <!-- <h2>{{ globals.currentLoggedUser()?.first_name}}</h2> -->
    <div class="drop-down-btn" (click)="toggleArrow()" [matMenuTriggerFor]="menu">
      <img src="../../../assets/avatare/avatar1.png" alt="">
      <mat-icon [ngClass]="menuIsOpen ? 'arrow-drop-down' : 'arrow-drop-up'">arrow_drop_down</mat-icon>
    </div>
    <mat-menu #menu="matMenu" (closed)="menuOpened(false)" xPosition="before">
      <button (click)="openProfile()" mat-menu-item>
        <mat-icon class="outlined">manage_accounts</mat-icon>
        <span class="menu-pnts">Konto</span>
      </button>
      <button mat-menu-item>
        <mat-icon class="outlined">lock</mat-icon>
        <span class="menu-pnts">Datenschutz</span>
      </button>
      <button mat-menu-item>
        <mat-icon>description</mat-icon>
        <span class="menu-pnts">Impressum</span>
      </button>
      <div style="height: 2px; background-color:black"></div>
      <button (click)="logOut()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span class="menu-pnts" style="text-align: center;">Logout</span>
      </button>
    </mat-menu>
  </div>

</div>

