@import "../../../styles.scss";

.header-cont {
  width: 100%;
  height: 100px;
  @include dFlex(row, space-between, center);
  > .left-cont {
    @include dFlex(row, flex-start, center);
    gap: 24px;
    > .logo {
      &:hover {
        cursor: pointer;
      }
      @include dFlex(row, flex-start, center);
      > span {
        color: #e50815;
        font-size: 32px;
        font-weight: 700;
      }
      > .n-letter {
        color: #ffffff;
        padding: 0px 4px;
      }
    }
    > .menu {
      @include dFlex(row, flex-start, center);
      gap: 24px;
      > span {
        transition: all 0.15s ease-in-out;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  > .right-cont {
    @include dFlex(row, flex-end, center);
    > .login-btn {
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      width: 98px;
      height: 32px;
      border-radius: 4px;
      background-color: #e50815;
      @include dFlex(row, center, center);
      &:hover {
        background-color: #ac040f;
      }
      > span {
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}


.arrow_drop_down {
  color: #ffffffff;
  rotate: -90deg;
}

.drop-down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  > img {
    height: 38px;
    width: 38px;
    margin-right: 8px;
  }
}