
<form class="settings-form" [formGroup]="userForm" (ngSubmit)="saveSettings()">

  <div class="form-group custom-input-settings name-cont">
      <mat-form-field>
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="first_name" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="last_name" type="text" />
      </mat-form-field>
  </div>

  <div class="form-group custom-input-settings">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" />
    </mat-form-field>
  </div>
  <div class="form-group custom-input-settings">
    <mat-form-field>
      <mat-label>Telefonnummer</mat-label>
      <input matInput formControlName="phone_number" type="number" />
    </mat-form-field>
  </div>
  <div class="form-group custom-input-settings">
    <mat-form-field>
      <mat-label>Geburtsdatum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-group custom-input-settings">
    <mat-form-field>
      <mat-label>Eintrittsdatum</mat-label>
      <input matInput formControlName="date_joined" type="text" [readonly]="true"/>
    </mat-form-field>
  </div>

  <!--hier die Adresse (-:-->
  <div class="form-group custom-input-settings address-cont">
    <mat-form-field class="street">
      <mat-label>Straße</mat-label>
      <input matInput formControlName="street" type="text" />
    </mat-form-field>
    <mat-form-field class="number">
      <mat-label>Hausnummer</mat-label>
      <input matInput formControlName="street_number" type="number" />
    </mat-form-field>
  </div>

  <div class="form-group custom-input-settings address-cont">
    <mat-form-field class="street">
      <mat-label>Stadt</mat-label>
      <input matInput formControlName="city" type="text" />
    </mat-form-field>
    <mat-form-field class="number">
      <mat-label>Postleitzahl</mat-label>
      <input matInput formControlName="zip_code" type="text" />
    </mat-form-field>
  </div>

  <div class="form-group custom-input-settings">
    <mat-form-field>
      <mat-label>Land</mat-label>
      <input matInput formControlName="country" type="text" />
    </mat-form-field>
  </div>
  
  <div class="btns edit">
    <button>Abbrechen</button>
    <button type="submit" [disabled]="userForm.invalid">Speichern</button>
  </div>
  <div class="btns start-editing">
    <button>Bearbeiten</button>
  </div>


</form>
