@import "../../../../styles.scss";

.settings-form {
  @include dFlex(column, center, flex-start);
  min-width: 600px;
  max-width: 1200px;
  > .form-group {
    width: 100%;
    > mat-form-field {
      width: 100%;
    }
  }
  > .name-cont {
    > mat-form-field {
      width: 50%;
    }
  }
}


input {
  color: #ffffff !important;
  &::placeholder {
    color: #ffffff !important;
  }
}

::ng-deep
  .custom-input-settings
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(255, 255, 255, 0.08) !important;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

::ng-deep .mdc-line-ripple::after {
  display: none;
}