@import "../../../../styles.scss";

.settings-form {
  @include dFlex(column, center, flex-start);
  min-width: 600px;
  max-width: 1200px;
  > .form-group {
    width: 100%;
    @include dFlex(row, center, center);
    gap: 8px;
    > mat-form-field {
      width: 100%;
    }
  }
  > .name-cont {
    > mat-form-field {
      width: 50%;
    }
  }
  > .address-cont {
    > .street {
      width: 70%;
    }
    > .number {
      width: 30%
    }
  }
  > .btns {
    width: 100%;
    @include dFlex(row, center, center);
    gap: 48px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


input {
  color: #ffffff !important;
  &::placeholder {
    color: #ffffff !important;
  }
}

::ng-deep
  .custom-input-settings
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(255, 255, 255, 0.08) !important;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

::ng-deep .mdc-line-ripple::after {
  display: none;
}