@import "../../../../styles.scss";

.settings-form {
  @include dFlex(column, center, flex-start);
  min-width: 600px;
  max-width: 1200px;
  > .form-group {
    width: 100%;
    @include dFlex(row, center, center);
    gap: 8px;
    > mat-form-field {
      width: 100%;
    }
  }
  > .name-cont {
    > mat-form-field {
      width: 50%;
    }
  }
  > .address-cont {
    > .street {
      width: 70%;
    }
    > .number {
      width: 30%;
    }
  }
  > .btns {
    width: 100%;
    @include dFlex(row, center, center);
    gap: 48px;
    > button {
      transition: all 250ms ease-in-out;
      cursor: pointer;
      color: #ffffff;
      font-size: 18px;
      width: 50%;
      padding: 16px;
      border-radius: 40px;
      border: none;
      background-color: #2e3edf;
      outline: none;
      &:hover {
        background-color: #5460e5;
      }
    }
  }
}

.uploaded-vids-cont {
  @include dFlex(row, flex-start, center);
  margin-bottom: 20px;
  font-size: 18px;
  > span {
    > .video-count {
      color: #5460e5;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

// input {
//   color: #ffffff ;
//   &::placeholder {
//     color: #ffffff ;
//   }
// }

.c-color {
  color: #ffffff !important;
  &::placeholder {
    color: #ffffff !important;
  }
}

.c-color-none {
  color: #a4a4a4 !important;
  &::placeholder {
    color: #a4a4a4 !important;
  }
}

::ng-deep
  .custom-input-settings
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 12px;
  border: 2px solid rgba($color: #2e3edf, $alpha: 1.0);
}

::ng-deep
  .custom-input-settings-none
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(255, 255, 255, 0.03) !important;
  border-radius: 12px;
  border: 2px solid rgba($color: #2e3edf, $alpha: 0.3);
}

::ng-deep .mdc-line-ripple::after {
  display: none;
}

::ng-deep .mdc-line-ripple::before {
  display: none;
  border-bottom-style: none;
}
