<div class="header-cont">
    <div [routerLink]="['/']" class="logo">
        <!-- <span>CHILL</span>
        <span class="n-letter">'N'</span>
        <span>FLIX</span> -->
        <img class="no-mobile-logo" src="./assets/logos/Logo.png" alt="logo">
        <img class="mobile-logo" src="./assets/logos/Symbol.png" alt="logo-mobile">
    </div>
    <div *ngIf="!isLoginScreen" class="right-cont">
        <!-- <a [routerLink]="['/login']" class="login-btn">
            <span>Login</span>
        </a> MUSS WIEDER EINKOMMENTIERT WERDEN -->
    </div>
    <div *ngIf="isImprint" class="right-imprint-cont" (click)="stepBack()">
        <mat-icon>arrow_back</mat-icon>
    </div>
</div>
