<div class="header-cont">
    <div [routerLink]="['/']" class="logo">
        <!-- <span>CHILL</span>
        <span class="n-letter">'N'</span>
        <span>FLIX</span> -->
        <img src="./../../../assets/logos/Logo.png" alt="logo">
    </div>
    <div *ngIf="!isLoginScreen" class="right-cont">
        <a [routerLink]="['/login']" class="login-btn">
            <span>Login</span>
        </a>
    </div>
    <div *ngIf="isImprint" class="right-imprint-cont" (click)="stepBack()">
        <mat-icon>arrow_back</mat-icon>
    </div>
</div>
