<div class="videoplayer-cont">
  
  <div #videoWrapper class="player-cont" *ngIf="!globals.isMyVideoEditing()">

    <div  class="vplayer-head">
        <div *ngIf="!isVidFullScreen" (click)="closePlayer()" class="vplayer-b-btn">
          <mat-icon>arrow_back</mat-icon>
        </div>
        
    </div>

    <video #videoFrame [muted]="true" (timeupdate)="updateProgressBar()" (loadedmetadata)="initializeVideo()">
      <source [src]="is480p ? globals.currentOpened480Video() : globals.currentOpenedVideo()?.video_file" />
      Dein Browser unterstuetzt das Format nicht
    </video>

    <div  [ngClass]="{
    'vplayer-bottom-btn': true,
    'vplayer-fullscreen': isVidFullScreen,
    'fade-out': isMouseInactive }">
      <div class="overlay play" *ngIf="!isVidFullScreen">
        <button (click)="openFullscreen()">
          <mat-icon>play_arrow</mat-icon>
          Abspielen
        </button>
        <button *ngIf="isInMyVideos" (click)="openVideoEdit()">
          <mat-icon>edit</mat-icon>
          Bearbeiten
        </button>
      </div>

      <div *ngIf="isVidFullScreen" (click)="closeFullscreen()" class="overlay-b-btn">
        <mat-icon>arrow_back</mat-icon>
        <img src="./assets/logos/Symbol.png" alt="FlixLogo">
      </div>

      <div class="overlay full" *ngIf="isVidFullScreen">
        
        <div class="bar-cont progressbar">
          <input type="range" class="progres-bar" (input)="seek($event)" min="0" [max]="videoDuration * 1000" [value]="currentTime * 1000">
          <span>{{ formatVideoDuration(videoDuration - currentTime) }}</span>
        </div>

        <div class="btns-cont">
          <div class="btns">
            <mat-icon (click)="toggleVideo()">{{ materialPlayButtonString }}</mat-icon>
            <mat-icon (click)="skip10(-10)">replay_10</mat-icon>      
            <mat-icon (click)="skip10(10)">forward_10</mat-icon>    
            <mat-icon (click)="toggleAudio()"> {{ materialVolumeButtonString }} </mat-icon>  
          </div>

          <span class="title-txt"> {{ globals.currentOpenedVideo()?.title }}</span>

          <div class="btns">
            <mat-icon (click)="toggleQualiPicker()">tune</mat-icon>
            <mat-icon (click)="restartVideo()">restart_alt</mat-icon>
            <mat-icon (click)="toggleFullscreen()">fullscreen</mat-icon>
          </div>

          <div *ngIf="volumeBarIsOpen" class="volume-bar">
            <input type="range" (input)="configVolume($event)" max="100" min="0" [value]="standardVolume">
          </div>
          <div *ngIf="qualityPickerIsOpen" class="quality">
            <div class="quality-picker">
              <span (click)="setVideoQualitySource('1080')" [style]="is480p ? 'color: #ffffff' : 'color: #2e3edf'">1080 p</span>
              <span (click)="setVideoQualitySource('480')" [style]="!is480p ? 'color: #ffffff' : 'color: #2e3edf'">480 p</span>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
  
  <div *ngIf="!globals.isMyVideoEditing()" class="vplayer-foot">
    <span>{{ globals.currentOpenedVideo()?.description }}</span>
    <span></span>
  </div>

  <app-video-edit style="width: 100%" *ngIf="globals.isMyVideoEditing()"></app-video-edit>


</div>
