@import "../../../../styles.scss";

.settings-form {
  @include dFlex(column, center, flex-start);
  min-width: 600px;
  max-width: 1200px;
  @media (max-width: 880px) {
    min-width: 480px;
  }
  @media (max-width: 580px) {
    min-width: 450px;
  }
  @media (max-width: 490px) {
    min-width: 420px;
  }
  @media (max-width: 450px) {
    min-width: 390px;
  }
  @media (max-width: 410px) {
    min-width: 370px;
  }
  @media (max-width: 400px) {
    min-width: 340px;
  }
  @media (max-width: 380px) {
    min-width: 300px;
  }
  > .form-group {
    width: 100%;
    @include dFlex(row, center, center);
    gap: 8px;
    > mat-form-field {
      width: 100%;
    }
  }
  > .name-cont {
    > mat-form-field {
      width: 50%;
    }
  }
  > .address-cont {
    > .street {
      width: 70%;
    }
    > .number {
      width: 30%;
    }
  }
  > .btns {
    width: 100%;
    @include dFlex(row, center, center);
    gap: 48px;
    > button {
      color: #ffffff;
      font-size: 18px;
      width: 50%;
      padding: 16px;
      border-radius: 12px;
      outline: none;
      border: none;
      background-color: #2e3edf;
    }
    > .enabled {
      transition: all 250ms ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #2e3edf;
      }
    }
    > .disabled {
      color: rgba($color: #ffffff, $alpha: 0.4);
      transition: all 250ms ease-in-out;
      cursor: not-allowed;
      background-color: rgba($color: #2e3edf, $alpha: 0.4);
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  color: #ffffff !important;
  &::placeholder {
    color: #ffffff !important;
  }
}

textarea {
  color: #ffffff !important;
  resize: none;
  height: 180px !important;
}

.c-color {
  color: #ffffff !important;
  &::placeholder {
    color: #ffffff !important;
  }
}

.c-color-none {
  color: #a4a4a4 !important;
  &::placeholder {
    color: #a4a4a4 !important;
  }
}

::ng-deep
  .custom-input-settings
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 12px;
  border: 2px solid rgba($color: #2e3edf, $alpha: 1);
}

::ng-deep
  .custom-input-settings-none
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(255, 255, 255, 0.03) !important;
  border-radius: 12px;
  border: 2px solid rgba($color: #2e3edf, $alpha: 0.3);
}

::ng-deep .mdc-line-ripple::after {
  display: none;
}

::ng-deep .mdc-line-ripple::before {
  display: none;
  border-bottom-style: none;
}

::ng-deep .mat-mdc-select {
  color: #ffffff !important;
}

::ng-deep div.mat-mdc-select-panel .mat-mdc-option {
  transition: all 150ms ease-in-out !important;
  &:hover {
    background-color: rgba($color: #2e3edf, $alpha: 0.3) !important;
  }
}

::ng-deep .mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: rgba($color: #2e3edf, $alpha: 0.3) !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  color: #2e3edf !important;
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
  color: #ffffff !important;
}

::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  div.mat-mdc-select-panel {
  border-radius: 12px;
  padding: 0px;
}

.upload-cont {
  max-width: 100%;
  width: 100%;
  > h4 {
    margin: 0px 0px 12px 0px;
  }
  > .input-preview-pair {
    @include dFlex(row, flex-start, center);
    width: 100%;
    gap: 40px;
    min-height: 80px;
    margin-bottom: 16px;
    border: 2px solid rgba($color: #2e3edf, $alpha: 1);
    border-radius: 12px;
    padding-top: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    @media (max-width: 400px) {
      gap: 16px;
      justify-content: center;
    }
    > .file-input {
      padding-left: 16px;
      > input {
        display: none;
      }
      > button {
        width: 146px;
        transition: all 250ms ease-in-out;
        padding: 16px 0px;
        font-size: 16px;
        font-family: "Raleway";
        background-color: #2e3edf;
        border: none;
        outline: none;
        border-radius: 12px;
        font-weight: 700;
        color: #ffffff;
        &:hover {
          cursor: pointer;
          background-color: rgba($color: #2e3edf, $alpha: 0.8);
        }
      }
    }
    > .file-preview {
      padding-right: 16px;
      width: 100%;
      gap: 16px;
      > .file-data {
        @include dFlex(column, center, flex-start);
        @media (max-width: 880px) {
          display: none;
        }
        span {
          color: #ffffff;
        }
      }
      > .file-image {
        > span {
          display: none;
          @media (max-width: 880px) {
            display: block;
          }
        }
        > mat-icon {
          font-size: 48px;
          height: 48px;
          width: 48px;
        }
      }
    }
  }
}


.upload-hints {
  @include dFlex(column, center, flex-start);
  min-width: 600px;
  max-width: 1200px;
  @media (max-width: 880px) {
    min-width: 480px;
  }
  @media (max-width: 580px) {
    min-width: 450px;
  }
  @media (max-width: 490px) {
    min-width: 420px;
  }
  @media (max-width: 450px) {
    min-width: 390px;
  }
  @media (max-width: 410px) {
    min-width: 370px;
  }
  @media (max-width: 400px) {
    min-width: 340px;
  }
  @media (max-width: 380px) {
    min-width: 300px;
  }
  > h3 {
    margin-bottom: 8px;
  }
  > ul {
    > li::marker{
      color: rgba($color: #2e3edf, $alpha: 0.7)
    }
  }
  > .terms {
    > a {
      text-decoration: none;
      color: #2e3edf;
      font-weight: 700;
    }
  }
}

.flex-start {
  @include dFlex(row, flex-start, center);
}

.center {
  @include dFlex(row, center, center);
  gap: 32px;
}


.toast {
  position: absolute;
  right: 36%;
  top: 100px;
  opacity: 0;
  z-index: 1;
  // animation: plopIn 2s ease-in;
  @media (max-width: 1000px) {
    right: 20%;
  }
  @media (max-width: 760px) {
    right: 16px;
  }
  @media (max-width: 560px) {
    display: none;
  }
}

.toast-mobile {
  display: none;
  z-index: -1;
  @media (max-width: 560px) {
    position: absolute;
    display: flex;
    height: 232px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: -1;
    animation: mobileplopIn 1s ease-in; 
  }
}


.fade-in-animation {
  animation: plopIn 1s forwards;
}
.fade-out-animation {
  animation: plopOut 1s forwards;
}

.fade-in-mobile-animation {
  animation: mobilePlopIn 1s forwards;
}
.fade-out-mobile-animation {
  animation: mobilePlopOut 1s forwards;
}

@keyframes plopIn {
  from {
    z-index: 1;
    right: 10%;
    top: 0px;
    opacity: 0;
  }
  to {
    z-index: 20;
    right: 36%;
    top: 100px;
    opacity: 1;
  }
}

@keyframes plopOut {
  from {
    z-index: 20;
    right: 36%;
    top: 100px;
    opacity: 1;
  }
  to {
    z-index: 1;
    right: 10%;
    top: 100px;
    opacity: 0;
  }
}

@keyframes mobilePlopIn {
  from {
    z-index: -1;
    right: 0;
    left: 0;
    bottom: 0px;
    opacity: 0;
  }
  to {
    z-index: 20;
    left: 0;
    right: 0px;
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes mobilePlopOut {
  from {
    z-index: 20;
    right: 0px;
    left: 0;
    bottom: 0px;
    opacity: 1;
  }
  to {
    z-index: -1;
    right: 0px;
    left: 0;
    bottom: 0px;
    opacity: 0;
  }
}
