<div class="edit-head">
  <div (click)="getBack()" class="edit-head-btn">
    <mat-icon>arrow_back</mat-icon>
  </div>
  <h2>Videoinformationen bearbeiten</h2>
</div>

<form
  class="settings-form"
  [formGroup]="videoEditForm"
  (ngSubmit)="saveEditedVideo()"
>
  <!--Videotitle-->
  <div class="form-group custom-input-settings">
    <mat-form-field>
      <mat-label>Titel</mat-label>
      <input matInput formControlName="title" type="text" />
      <mat-error
        *ngIf="
          videoEditForm.get('title')?.invalid &&
          videoEditForm.get('title')?.touched
        "
      >
        Min. 4, max. 20 Zeichen
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select formControlName="genre" required>
        <mat-option>--</mat-option>
        @for (genre of genres; track genre) {
        <mat-option [value]="genre">{{ genre }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="videoEditForm.get('genre')?.hasError"
        >Bitte wähle ein Genre</mat-error
      >
    </mat-form-field>
  </div>

  <!-- <div class="form-group custom-input-settings">
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <input matInput formControlName="genre" type="text" />
        <mat-error *ngIf="videoEditForm.get('genre')?.invalid && videoEditForm.get('genre')?.touched">
          Das Genre muss mind 4 Zeichen lang sein 
        </mat-error>
      </mat-form-field>
    </div> -->

  <!---->
  <div class="form-group custom-input-settings">
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <textarea
        minlength="10"
        matInput
        formControlName="description"
        type="text"
      ></textarea>
      <mat-error
        *ngIf="
          videoEditForm.get('description')?.invalid &&
          videoEditForm.get('description')?.touched
        "
      >
        Min. 10 Zeichen
      </mat-error>
    </mat-form-field>
  </div>

  <!--Buttons for saving and make them editable-->
  <div class="btn-group">
    <div class="btns">
      <button type="button" class="enabled" (click)="getBack()">
        <mat-icon>arrow_backwards</mat-icon><b>Abbrechen</b>
      </button>
      <button class="enabled" type="submit">
        <mat-icon>save</mat-icon><b>Speichern</b>
      </button>
    </div>
    <div class="delete-btn">
      <div (click)="deleteCurrentVideo()" class="del-b">
        <span>Löschen</span>
        <mat-icon>delete</mat-icon>
      </div>
    </div>
  </div>
</form>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="fire"
  [fullScreen]="true"
  name="editSpinner"
  ><p style="color: white">{{ spinnerText }}</p></ngx-spinner
>
