<section class="landing-cont">
  <app-header [isLoginScreen]="true"></app-header>

  <div class="login-cont">
    <div class="login-form">
      <h3>Login</h3>
      <form [formGroup]="form" (ngSubmit)="tryLogin()">
        <div class="mail-container custom-input-login">
          <mat-form-field>
            <mat-label>Gib deine E-Mail ein</mat-label>
            <input
              matInput
              placeholder="email@mail.com"
              formControlName="email"
              (blur)="updateMailErrorMessage()"
              autocomplete="email"
              autocapitalize="none"
              inputmode="email"
            />
          </mat-form-field>
          <div class="error">
            <span
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
              >{{ updateMailErrorMessage() }}
            </span>
          </div>
        </div>

        <div class="password-container custom-input-login">
          <mat-form-field>
            <mat-label>Gib dein Passwort ein</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide() ? 'password' : 'text'"
              autocomplete="current-password"
            />
            <button
              mat-icon-button
              type="button"
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon class="blue-color">{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <div class="error">
            <span *ngIf="form.get('password')?.hasError('minlength')"
              >Das Passwort sollte mind. 8 Zeichen beinhalten</span
            >
          </div>
        </div>

        <div (click)="tryLogin()" class="login-btn">
          <button type="submit">Login</button>
        </div>
      </form>

      <div class="pw-reset">
        <a [routerLink]="['/pw-reset']">Passwort vergessen ?</a>
      </div>

      <div class="register-cont">
        <span (click)="testfunc()" class="new-cont">Neu bei VideoFlix ?</span>
        <a [routerLink]="['/registration']" class="register-btn"
          >Jetzt registrieren !</a
        >
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: white">Mal gucken, ob es dich gibt...</p></ngx-spinner
>

<div class="toast" [ngClass]="globals.errorToastClass()">
  <app-error-toast
    (closeError)="closeErrorToast($event)"
    [errorTxt]="
      'Die eingegebene E-Mail, oder das eingegebene Passwort ist falsch. Versuch es noch ein mal!'
    "
  ></app-error-toast>
</div>

<div class="toast-mobile" [ngClass]="globals.mobileErrorToastClass()">
  <app-error-toast-mobile
    (closeError)="closeMobileErrorToast($event)"
    [errorTxt]="
      'Die eingegebene E-Mail, oder das eingegebene Passwort ist falsch. Versuch es noch ein mal!'">
</app-error-toast-mobile>
</div>
