<section class="landing-cont">
  <app-header [isLoginScreen]="true" ></app-header>

  <div class="login-cont">
    <div class="login-form">
      <span *ngIf="this.globals.accountNotExist()"
        >Es konnte kein Konto gefunden werden</span
      >
      <span *ngIf="this.globals.tryAgain()">Versuch es noch einmal !</span>
      <h3>Einloggen</h3>
      <div>
        <div class="mail-container custom-input-login">
          <mat-form-field>
            <mat-label>Gib deine E-Mail ein</mat-label>
            <input
              matInput
              placeholder="email@mail.com"
              [formControl]="email"
              (blur)="updateMailErrorMessage()"
              required
            />
            @if (email.invalid) {
            <mat-error> {{ mailErrorMessage() }} </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="password-container custom-input-login">
          <mat-form-field>
            <mat-label>Gib dein Passwort ein</mat-label>
            <input
              matInput
              [formControl]="password"
              minlength="4"
              [type]="hide() ? 'password' : 'text'"
            />
            @if (password.invalid) {
            <mat-error> Passwort muss aus 4 Zeichen bestehen </mat-error>
            }
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon class="blue-color">{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div
          (click)="tryLogin()"
          type="button"
          class="login-btn"
        > <div>
            Login
          </div>
        </div>
      
      </div>

      <div class="pw-reset">
        <a [routerLink]="['/pw-reset']">Passwort vergessen ?</a>
      </div>

      <div class="register-cont">
        <span class="new-cont">Neu bei VideoFlix ?</span>
        <a [routerLink]="['/registration']" class="register-btn">Jetzt registrieren !</a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</section>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: white">Mal gucken, ob es dich gibt...</p></ngx-spinner
>
