@import "../../../styles.scss";
.profile {
    color: #ffffff;
    max-width: 1920px;
    width: 100%;
    @include dFlex(column, flex-start, center);
    margin: 0px 124px;
}



app-profile-header{
    @include dFlex(row, center,center);
    width: 100%; 
    background-color: #141414;
}