

<section>
  <app-profile-header></app-profile-header>
  <div class="profile">
    <div class="left-nav">
      <div (click)="backToMain()" class="back-to-main">
        <mat-icon>keyboard_backspace</mat-icon>
        <span>Zurück zu VideoFlix</span>
      </div>
      <mat-list class="custom-list">
        <mat-list-item (click)="navigateTo('oversight', false)" [ngClass]="globals.activePath() === 'oversight' ? 'active' : 'inactive' ">
          <mat-icon matListItemIcon>home</mat-icon>
          <span>Übersicht</span>
        </mat-list-item>
        <mat-list-item (click)="navigateTo('user_settings', true)" [ngClass]="globals.activePath() === 'user_settings' ? 'active' : 'inactive' ">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span>Einstellungen</span>
        </mat-list-item>
        <mat-list-item (click)="navigateTo('my_videos', true)" [ngClass]="globals.activePath() === 'my_videos' ? 'active' : 'inactive' ">
          <mat-icon matListItemIcon>subscriptions</mat-icon>
          <span>Eigene Videos</span>
        </mat-list-item>
        <mat-list-item (click)="navigateTo('upload', true)" [ngClass]="globals.activePath() === 'upload' ? 'active' : 'inactive' ">
          <mat-icon matListItemIcon>upload</mat-icon>
          <span>Video hochladen</span>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="right-nav">
      <h1>{{ globals.activeHeadingString() }}</h1>
      <div class="right-nav-placeholder" *ngIf="globals.activePath() === 'oversight' ">
        <app-oversight></app-oversight>
      </div>
      <router-outlet />
    </div>
  </div>

  <app-footer></app-footer>

</section>

<div *ngIf="this.globals.isVidOpen()" class="video-overlay">
  <div class="v-overlay-container">
      <app-videoplayer [isInMyVideos]="true"></app-videoplayer>
  </div>
</div>