<section class="landing-cont">
  <app-header></app-header>

  <div style="text-align: center;" class="mail-cont">
    <span style="text-decoration: line-through;">Unbegrenzt Filme, Serien und mehr.</span>
    <p style="text-decoration: line-through;">Geniesse Videoflix wo immer du willst.</p>
    <p style="text-decoration: line-through;">Startklar? Dann gib deine E-Mailadresse ein, um loszulegen!</p>
    <p style="text-decoration: line-through;">Angetrieben vom Raspberry PI 5</p>
    <br />

    <p style="font-size: 60px; text-decoration: underline; text-decoration-color: #2E3EDF; font-weight: 900;">
      Aktuell ist das Backend (Raspberry PI) offline, wenn interesse besteht 
      Videoflix in Aktion zu sehen, melde dich gern bei mir!
    </p>

    <!--<div class="mail-container custom-input-login">
      <mat-form-field>
        <mat-label>Gib deine E-Mail ein</mat-label>
        <input
          matInput
          placeholder="email@mail.com"
          [formControl]="mail"
          (blur)="updateMailErrorMessage()"
          required
          autocomplete="email"
          autocapitalize="none"
          inputmode="email"
        />
        @if (mail.invalid) {
        <mat-error> {{ mailErrorMessage() }} </mat-error>
        }
      </mat-form-field>
      <div (click)="checkMail()" type="button" class="login-btn" >
        <div [ngClass]="mail.valid ? 'enabled' : 'disabled'">Loslegen <mat-icon>chevron_right</mat-icon> </div>
      </div>
    </div>!-->
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true"
    ><p style="color: white">Bitte einen Moment Geduld...</p></ngx-spinner
  >
  <app-footer></app-footer>
</section>
