@import "../../../../styles.scss";

.stepping {
  @include dFlex(column, center, center);
  > .step-headline {
    @include dFlex(row, space-between, center);
    > div {
      @include dFlex(row, center, center);
      padding: 4px;
      border-radius: 50%;
      > mat-icon {
        color: #6D19FF;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba($color: #6D19FF, $alpha: 0.2);
      }
    }
    > span {
      color: #6D19FF;
      font-weight: 500;
      font-size: 18px;
    }
  }
  > span {
    padding-top: 20px;
  }
  > h2 {
    font-size: 32px;
    margin-bottom: 0px;
    color: #2E3EDF;
  }
  > p {
    font-size: 22px;
    font-weight: 500;
    color: #2E3EDF;
  }
  > div {
    width: 100%;
    > .mail-container {
      > mat-form-field {
        width: 100%;
        font-family: "Raleway", sans-serif;
      }
    }
    > .password-container {
      > mat-form-field {
        width: 100%;
        font-family: "Raleway", sans-serif;
      }
    }
  }
  > .continue-btn {
    margin-top: 16px;
    transition: all 0.125s ease-in-out;
    @include dFlex(row, center, center);
    padding: 8px 24px;
    background-color: #2E3EDF;
    width: 360px;
    height: 48px;
    border-radius: 40px;
    &:hover {
      cursor: pointer;
      background-color: #5460e5;
    }
    > span {
      font-size: 28px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}

:host ::ng-deep .custom-input-register .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-color: #2E3EDF;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    color: #2E3EDF;
}

input {
    color: #2E3EDF !important;
    font-size: 18px;
    font-weight: 400;
    &::placeholder {
      color: #2E3EDF !important;
    }
}

mat-label {
    color: #5460e5;
}

.blue-color {
  color: #2E3EDF;
}


::ng-deep .mdc-line-ripple::after {
  display: none;
}

::ng-deep .mdc-line-ripple::before {
  display: none;
  border-bottom-style: none;
}