<div class="stepping">
  <div class="step-headline">
    <div (click)="stepBack()">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <span>SCHRITT 2 VON 3</span>
  </div>

  <h2>Vergib ein Passwort, um dein Konto zu erstellen.</h2>
  <p>
    Nur noch ein paar Schritte und Du hast es geschafft! <br />
    Wir finden Papierkram auch nervig.
  </p>
  <form [formGroup]="form" (ngSubmit)="nextStep()">
    <div class="mail-container custom-input-register">
      <mat-form-field>
        <mat-label>Gib deine E-Mail ein</mat-label>
        <input
          matInput
          placeholder="email@mail.com"
          formControlName="email"
        
          required
        />
      </mat-form-field>
      <div class="error">
        <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">{{ updateMailErrorMessage() }} </span> 
      </div>
    </div>
    <div class="password-container custom-input-register">
      <mat-form-field>
        <mat-label>Gib dein Passwort ein</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon class="blue-color">{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="error"> 
        <span *ngIf="form.get('password')?.hasError('minlength')">Das Passwort sollte mind. 8 Zeichen beinhalten</span> 
      </div>
      
      <mat-form-field>
        <mat-label>Gib dein Passwort ein</mat-label>
        <input
          matInput
          formControlName="password2"
          [type]="hide2() ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="clickEvent2($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2()">
          <mat-icon class="blue-color">{{ hide2() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="error">
        <span *ngIf="form.hasError('passwordsMismatch') && form.get('password2')?.touched && !form.get('password2')?.hasError('minlength')">Passwörter stimmen nicht überein</span>
        <span *ngIf="form.get('password2')?.hasError('minlength') && form.get('password2')?.touched">Das Passwort sollte mind. 8 Zeichen beinhalten</span>
      </div>
    </div>

    <div  class="continue-btn" >
      <button type="submit" [ngClass]="form.valid ? 'enabled' : 'disabled'">Weiter</button>
    </div>

  </form>
  
</div>
