<div class="stepping">
  <div class="step-headline">
    <div (click)="stepBack()">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <span>SCHRITT 2 VON 3</span>
  </div>

  <h2>Vergib ein Passwort, um dein Konto zu erstellen.</h2>
  <p>
    Nur noch ein paar Schritte und Du hast es geschafft! <br />
    Wir finden Papierkram auch nervig.
  </p>
  <div>
    <div class="mail-container custom-input-register">
      <mat-form-field>
        <mat-label>Gib deine E-Mail ein</mat-label>
        <input
          matInput
          placeholder="email@mail.com"
          [formControl]="email"
          (blur)="updateMailErrorMessage()"
          required
        />
        @if (email.invalid) {
        <mat-error> {{ mailErrorMessage() }} </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="password-container custom-input-register">
      <mat-form-field>
        <mat-label>Gib dein Passwort ein</mat-label>
        <input
          matInput
          [formControl]="password"
          [type]="hide() ? 'password' : 'text'"
          [minlength]="8"
        />
        @if (password.invalid) {
          <mat-error> Das Passwort sollte mind. 8 Zeichen beinhalten </mat-error>
          }
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon class="blue-color">{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Gib dein Passwort ein</mat-label>
        <input
          matInput
          [formControl]="password2"
          [type]="hide2() ? 'password' : 'text'"
          [minlength]="8"
        />
        @if (password.invalid) {
          <mat-error> Das Passwort sollte mind. 8 Zeichen beinhalten </mat-error>
          }
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent2($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2()"
        >
          <mat-icon class="blue-color">{{ hide2() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div (click)="nextStep()" class="continue-btn">
    <span>Weiter</span>
  </div>
</div>
