@import "../../../styles.scss";

.pw-cont {
  max-width: 1920px;
  height: 100vh;
  width: 100%;
  @include dFlex(column, space-between, center);
  @media (max-width: 1920px) {
    margin: 0 32px;
  }
  > .header-cont {
    width: 100%;
    height: 100px;
    @include dFlex(row, space-between, center);
    > .logo {
      &:hover {
        cursor: pointer;
      }
      @include dFlex(row, flex-start, center);
      > span {
        color: #e50815;
        font-size: 32px;
        font-weight: 700;
      }
      > .n-letter {
        color: #ffffff;
        padding: 0px 4px;
      }
    }
    > .right-cont {
      @include dFlex(row, flex-end, center);
      > .login-btn {
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        width: 98px;
        height: 32px;
        border-radius: 4px;
        background-color: #e50815;
        @include dFlex(row, center, center);
        &:hover {
          background-color: #ac040f;
        }
        > span {
          font-size: 16px;
          font-weight: 700;
          color: #ffffff;
        }
      }
    }
  }

  > .mail-cont {
    @include dFlex(column, center, center);
    > span {
      color: #ffffff;
      font-size: 48px;
      font-weight: 700;
    }
    > p {
      color: #ffffff;
      font-size: 28px;
      &:nth-child(3) {
        margin-top: 0px;
      }
    }

    > .mail-container {
      @include dFlex(row, flex-start, flex-start);
      gap: 32px;
      width: 100%;
      margin-bottom: 16px;
      > mat-form-field {
        width: 63%;
        font-family: "Raleway", sans-serif;
      }
      > .login-btn {
        @include dFlex(row, flex-start, center);
        > div {
          @include dFlex(row, center, center);
          gap: 8px;
          padding: 18px 30px;
          background-color: #2e3edf;
          border-radius: 40px;
          color: #ffffff;
          font-weight: 700;
          font-size: 18px;
          &:hover {
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            background-color: #5460e5;
          }
        }
      }
    }
  }
}

.centered {
  justify-content: center !important;
}

.disabled {
  background-color: grey !important;
  cursor: not-allowed !important;
}

.enabled {
    transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

:host
  ::ng-deep
  .custom-input-login
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ffffff !important;
  border-radius: 40px;
  border: 1px solid #2e3edf !important;
}



input {
  color: #2e3edf !important;
  font-size: 18px;
  font-weight: 700;
  &::placeholder {
    color: #2e3edf !important;
  }
}

::ng-deep .mdc-line-ripple::after {
  display: none;
}

::ng-deep .mdc-line-ripple::before {
  display: none;
  border-bottom-style: none;
}

::ng-deep .mat-mdc-form-field-infix {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  color: #2e3edf !important;
}

mat-label {
  color: #5460e5;
}
