<section class="pw-cont">
    <div class="header-cont">
        <div [routerLink]="['']" class="logo">
            <span>CHILL</span>
            <span class="n-letter">'N'</span>
            <span>FLIX</span>
        </div>
        <div class="right-cont">
            <a [routerLink]="['/login']" class="login-btn">
                <span>Login</span>
            </a>
        </div>
    </div>

    <div class="mail-cont" *ngIf="!resetWasSent">
        <span>Passwort zuruecksetzen</span>
        <p>Geben Sie ihre E-Mailadresse ein um das Passwort zurueckzusetzen !</p>
        <div class="mail-input">
            <div class="mail-input-cont">
                <input type="email" name="mail" placeholder="E-Mailadresse" [formControl]="mail" required>  
            </div>
            <button (click)="checkMail()" class="go-btn" [disabled]="mail.invalid" [ngClass]="mail.invalid ? 'disabled' : 'enabled' ">
                <span>Passwort zuruecksetzen </span> <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
        @if (mail.invalid && mail.touched && mail.hasError('pattern')) {
            <span>Email Adresse ungueltig!</span>
        }
        @if (notFound()) {
            <span>Email konnte nicht gefunden wurden</span>
        }
    </div>

    <div *ngIf="resetWasSent" class="mail-cont">
        <span>Eine Email wurde an die angegebene Adresse gesendet !</span>
        <p>Folgen Sie den Anweisungen in der Email, um Ihr Passwort zurueckzusetzen !</p>
        <div class="mail-input">
            <button class="back-btn" [routerLink]="['/login/']">
                <span>Zurueck zum Login</span>
            </button>
        </div>
    </div>

</section>
