<section class="terms-cont">
  <app-header [isImprint]="true" [isLoginScreen]="true"></app-header>

  <h1>Nutzungsbedingungen</h1>

  <h2>1. Zulässige Inhalte</h2>
  <p>
    Es dürfen keine anstößigen, urheberrechtlich geschützten oder illegalen
    Inhalte hochgeladen werden.
  </p>
  <p>
    Hochgeladene Videos dürfen maximal <b>800 MB</b> groß sein und müssen im
    <b>MP4-Format</b> vorliegen.
  </p>

  <h2>2. Verantwortlichkeit</h2>
  <p>
    Der Nutzer ist allein verantwortlich für die hochgeladenen Inhalte. Mit dem
    Upload bestätigt der Nutzer, dass er über alle notwendigen Rechte an den
    Inhalten verfügt.
  </p>

  <h2>3. Haftungsausschluss</h2>
  <p>
    Der Betreiber übernimmt keine Haftung für Schäden, die durch die Nutzung der
    Plattform entstehen. Die Plattform kann Änderungen oder Unterbrechungen der
    Dienste jederzeit vornehmen.
  </p>

  <h2>4. Datenverarbeitung</h2>
  <p>
    Hochgeladene Videos werden verarbeitet (z. B. Konvertierung auf 480p). Mit
    dem Upload erklärt sich der Nutzer mit der Verarbeitung der Inhalte gemäß
    der
    <a href="/videoflix/ppolicy" target="_blank" rel="noopener noreferrer"
      >Datenschutzerklärung</a
    >
    einverstanden.
  </p>

  <h2>5. Rechtsverletzungen</h2>
  <p>
    Der Betreiber behält sich das Recht vor, Inhalte, die gegen die Regeln
    verstoßen, zu löschen. Der Betreiber kann Nutzer bei wiederholtem Missbrauch
    ausschließen.
  </p>

  <h2>6. Zweck der Plattform</h2>
  <p>
    Diese Plattform dient ausschließlich der Veranschaulichung
    <b>meiner Fähigkeiten im Bereich Softwareentwicklung.</b> Es handelt sich um
    ein Portfolio-Projekt, das <b>keinen</b> kommerziellen Zweck verfolgt. Die
    Nutzung erfolgt daher unter der Annahme, dass es sich um eine
    <b>nicht-produktive, demonstrative</b> Anwendung handelt.
  </p>
  <p>
    Der Betreiber übernimmt keine Garantie für die dauerhafte Verfügbarkeit oder
    Funktionalität der Plattform. Jegliche Daten, die auf der Plattform
    gespeichert werden, können ohne vorherige Ankündigung gelöscht werden.
  </p>
</section>
